@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Notable:100,200,300,400,500,600,700'); 

body {
    font-family: "Montserrat", sans-serif;
}
/*==========================================================================    COLORS ==============================*/
 .bg-grey {
     background-color: #000;
     color: antiquewhite;
 }

 .bg-navy {
     background-color: #362e7a;
        color: antiquewhite;
 }


/*==========================================================================    MARGINS, PADDINGS, TEXT ==============*/




/*==========================================================================    HEADER ===============================*/


.navbar-text {
    font-family: "Notable", sans-serif;
    font-size: 35px;
    color: antiquewhite;
    background-color: #212529;
    letter-spacing: 3px;
}

.navbar {
    background-color: #000;
}

.navbar img {
    border-radius: 50%;
}

.navbar .ml-auto {
    margin-right: 30px;
}



/*==========================================================================    HOVER ================================*/




/*==========================================================================    FOOTER ===============================*/




/*==========================================================================    FUTURE DIVISION ======================*/




/*==========================================================================    FUTURE DIVISION ======================*/




/*==========================================================================    FUTURE DIVISION ======================*/
