@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700|Notable:100,200,300,400,500,600,700'); 

body {
    font-family: "Montserrat", sans-serif;
    background-color: #707070;
}
/*==========================================================================    COLORS ==============================*/
 #bg-pipeslogo {
     background-color: #000;
     color: antiquewhite;
 }

 .bg-navy {
     background-color: #362e7a;
     color: antiquewhite;
     padding: 0;
 }
 

#menu-color-home {
     background-color: #000;
}

#menu-color-about {
     background-color: #202020;
}

#menu-color-custom {
     background-color: #404040;
}

#menu-color-media {
     background-color: #606060;
}

/*==========================================================================    MARGINS, PADDINGS, TEXT ==============*/




/*==========================================================================    HEADER ===============================*/


.navbar-text {
    font-family: "Notable", sans-serif;
    font-size: 35px;
    color: antiquewhite;
    background-color: #000;
    letter-spacing: 2px;
    padding-left: 0px; 
    text-align: center;
    margin-bottom: 3px;
}

.navbar {
    background-color: #000;
    padding-bottom: 0;
}

.navbar h1 {
    margin-bottom: 0;
}

.navbar img { /*==Sparkylogo in circle*/
    border-radius: 50%;
}

.navbar .ml-auto { /*==Sparkylogo margin increased*/
    margin-right: 30px;
    margin-top: 0;
}

#bg-pipeslogo {
    padding-right: 0;
    scroll-padding-left: o;
}

#bg-pipeslogo img {
    vertical-align: center;
    max-height: 135px;
    margin: auto;
    margin-bottom: 15px;
}

.col-pipeslogo {
    padding: 0;
}



.image-container {
    display: flex;
    justify-content: center;
}

.pipeslogo {
    background-repeat: no-repeat;
    padding: 0;
}


/*==========================================================================    MENU ===============================*/

.col-pipeslogo {
    padding: 0;
}

.menucontainer {
    vertical-align: center;
    text-align: center;
}

.menu-button {
    padding: 0;
    min-height: 150px;  
}

.menu-button i {
    font-size: 250%;
    padding: 30px 0 20px 0;
    color: antiquewhite; 
    width: 100%;
}

.menu-button h5 {
    color: antiquewhite; 
    font-weight: 600;
    font-family: "Notable", sans-serif;
    letter-spacing: 2px;
    margin-bottom: 0;
    padding-bottom: 40px;
}

.menu-button a {
    height: 150px;
    width: 100%; 
    text-decoration: none;
}

.menu-button span {
    width: 100%;
}



/*==========================================================================    HOVER ================================*/


.menu-button h5:hover {
    color: rgb(255, 196, 0);
}

.menu-button a i:hover {
    color: rgb(255, 196, 0);
}



.hvr-shutter-out-vertical:before {
    background: rgba(189, 123, 0, 0.2);
}

.hvr-shutter-out-vertical {
    background-color: rgba(0,0,0,0);
}



/*==========================================================================    FOOTER ===============================*/


.whole-footer {
    padding: 0;
}

.footcol-faq {
    background-color: orange;
}

.footcol-contact {
    background-color: rgb(118, 72, 128);
}

.footcol-follow {
    background-color: green;
}


/*==========================================================================    MEDIA QUERIES ========================*/

@media(max-width: 1024px) {
    .menu-button h5 {
        font-weight: 500;
    }
    .menu-button i {
        font-size: 200%;
        padding-top: 30px;
    }
}


@media screen and (max-width: 320px) {
  div.navbar {
        display: none;
  }
}

@media screen and (max-width: 320px) and (min-width: 1440px) { /* for map of customers feature in future */
  div.map {
    font-size: px;
    font-weight: ;
    padding: 30px;
    border: 8px solid black;
    background: rgb(122, 122, 122);
  }
}


/*==========================================================================    TEMPORARY ============================*/

.fa-tools {
    color: chartreuse;
    font-size: 600%;
    margin-bottom: 30px;
}

section {
    text-align: center;
    margin-top: 250px;
}




/*==========================================================================    FUTURE DIVISION ======================*/
